<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <div class="signUpPage page">
            <div class="logo">
                <h1>Secret Message Club</h1>
                <span class="star">
                    <img src="/assets/star-vector.svg" alt="star">
                </span>
                <span class="star">
                    <img src="/assets/star-vector.svg" alt="star">
                </span>
                <span class="star">
                    <img src="/assets/star-vector.svg" alt="star">
                </span>
            </div>

            <%- include('forms/signUp') %>
        </div>

        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>