<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <div class="welcomePage page">
            <div class="logo">
                <h1>Secret Message Club</h1>
                <span class="star">
                    <img src="/assets/star-vector.svg" alt="star">
                </span>
                <span class="star">
                    <img src="/assets/star-vector.svg" alt="star">
                </span>
                <span class="star">
                    <img src="/assets/star-vector.svg" alt="star">
                </span>
            </div>

            <p>Welcome to the Secret Message Club!
                This is an anonymous message board where only members can see your nickname and the date when you posted a message. To become a member, you must know the special member password. To become an admin, you must know the special admin password. Admins are privileged members who can delete messages.</p>

            <div class="buttons">
                <button class="btn-default"> <a href="/logInForm"> Log in </a> </button>
                <button class="btn-default"> <a href="/signUpForm"> Sign up </a> </button>
            </div>
        </div>

        <!-- <%- include('forms/logIn') %>

        <%- include('forms/signUp') %> --> 

        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>